.container {
  margin: auto;
  max-width: 1280px;
}

/* product */
.product {
  min-width: 33%;
  max-width: 100%;
  background-color: #445162;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media all and (max-width: 1100px) {
  .product {
    justify-content: center;
  }
}

.product-desc {
  margin: 0;
}

.product-image {
  background-color: #ffffff;
  max-width: 100%;
  width: 469px;
  height: 214px;
  margin: 0;
}

.product-name {
  font-family: Arial;
  color: #ffffff;
  font-size: 60px;
  font-weight: 400;
  text-transform: capitalize;
}

.product-solutions {
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  list-style-type: none;
  padding: 0px;
  margin: 30px 0 0 30px;
}

.product-solutions_item {
  position: relative;
}

.product-solutions_item::before {
  content: "";
  background-image: url(/img/check-icon.png);
  background-size: cover;
  width: 25px;
  height: 20px;
  display: block;
  position: absolute;
  top: 7px;
  left: -30px;
}

/* about */
.about {
  min-width: 33%;
  max-width: 100%;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media all and (max-width: 1100px) {
  .about {
    justify-content: center;
  }
}

.about-desc {
  max-width: 650px;
  margin: 0;
}

.about-desc_header {
  font-family: Arial;
  color: #445161;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  display: block;
  padding: 0 0 20px 0;
}

.about-desc_text {
  font-family: Arial;
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 10px 0 10px 0;
}

.about-video {
  background-color: #445161;
  max-width: 100%;
  width: 430px;
  height: 245px;
  margin: 0;
}

/* pluses */
.pluses {
  padding: 50px;
  display: flex;
  flex-flow: row wrap;
  background-color: #f5f5f5;
}

.pluses-header {
  font-family: Arial;
  color: #445161;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  display: block;
  width: 100%;
  margin: auto;
  text-align: center;
}

.pluses-list_item {
  display: block;
  margin: auto;
  padding: 30px 0 5px 45px;
  width: 100%;
  max-width: 545px;
  font-family: Arial;
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  position: relative;
}

.pluses-list_item:before {
  content: "+";
  display: block;
  width: 32px;
  height: 32px;
  background-color: #445161;
  position: absolute;
  left: 5px;
  top: 35px;
  color: #fff;
  font-family: Arial;
  font-size: 40px;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
}

/* screenshots */
.scrshots {
  padding: 50px;
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.scrshots-header {
  font-family: Arial;
  color: #445161;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  display: block;
  width: 100%;
  margin: auto;
  text-align: center;
}

.scrshots-item {
  margin: 30px 0 0 0;
  box-sizing: border-box;
  width: 100%;
  max-width: 590px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

@media all and (max-width: 696px) {
  .scrshots-item {
    justify-content: center;
  }
}

.scrshots-item_pic {
  display: block;
  background-color: #445161;
  width: 200px;
  height: 150px;
  max-width: 100%;
}

.scrshots-item_desc {
  width: 360px;
  max-width: 100%;
  margin: 0;
  padding: 0 0 0 10px;
}

.scrshots-item_capture {
  font-family: Arial;
  color: #445161;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  padding: 0 0 5px 0;
}

.scrshots-item_text {
  font-family: Arial;
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 10px 0 0 0;
}

/* review */
.review {
  padding: 50px;
  background-color: #f5f5f5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.review-header {
  margin: auto;
  width: 100%;
  text-align: center;
  font-family: Arial;
  color: #445161;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
}

.review-item {
  width: 100%;
  max-width: 590px;
  margin: 24px 0 0 0;
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  justify-content: space-between;
}

@media all and (max-width: 696px) {
  .review-item {
    justify-content: center;
  }
}

.review-item_pic {
  border-radius: 50%;
  background-color: #445161;
  display: block;
  width: 75px;
  height: 75px;
  margin: 0 0 0 16px;
}

.review-item_desc {
  background-color: #ececec;
  max-width: 100%;
  width: 450px;
  margin: 0 0 0 10px;
  padding: 16px;
  position: relative;
  border-radius: 10px;
  font-family: Arial;
  font-size: 14px;
  line-height: 18px;
}

.review-item_desc:before {
  content: "";
  display: block;
  position: absolute;
  top: 26px;
  left: -28px;
  border: 14px solid transparent;
  border-right: 14px solid #ececec;
}

@media all and (max-width: 696px) {
  .review-item_desc {
    margin-top: 16px;
  }

  .review-item_desc:before {
    display: none;
  }
}

.review-item_text {
  color: #333333;
  font-style: italic;
  hyphens: auto;
  margin: 0;
}

.review-item_autor {
  font-family: Arial;
  color: #989898;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
}

/* plans (buy it) */
.plans {
  padding: 50px;
  display: flex;
  flex-flow: row wrap;
}

.plans-header {
  font-family: Arial;
  color: #445161;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  width: 100%;
  margin: auto;
  text-align: center;
}

.plans-list {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
  align-content: flex-end;
}

.plans-item {
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: #425062;
  border-radius: 5px;
}

.plans-item_caption {
  font-family: Arial;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 50px;
  display: block;
  height: 50px;
  width: 100%;
  text-align: center;
}

.plans-item_price {
  font-family: Arial;
  color: #445162;
  font-size: 40px;
  font-weight: 400;
  line-height: 70px;
  text-align: center;
  border: 1px solid #445162;
  background-color: #fff;
  display: block;
  height: 70px;
}

.plans-item_features-list {
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 20px 20px 0 20px;
  counter-reset: element;
  padding: 0;
}

.plans-item_feature {
  position: relative;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.plans-item_feature:before {
  content: counter(element) ". ";
  counter-increment: element;
}

.plans-item_buy-btn {
  display: block;
  border-radius: 5px;
  background-color: #ffffff;
  width: 260px;
  height: 40px;
  font-family: Arial;
  color: #445161;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  margin: 20px;
  text-decoration: none;
}

/* contacts */
.contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  background-color: #445162;
  padding: 50px 0 50px 0;
}

.contacts-header {
  font-family: Arial;
  color: #ffffff;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-transform: capitalize;
  width: 100%;
  text-align: center;
}

.contacts-form {
  width: 100%;
  max-width: 544px;
  padding: 22px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contacts-form_name {
  border-radius: 5px;
  background-color: #ffffff;
  border-style: none;
  outline: none;
  padding: 0 10px 0 10px;
  margin: 0;
  font-family: Arial;
  color: #445162;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 100%;
  min-height: 40px;
}

.contacts-form_email {
  border-radius: 5px;
  background-color: #ffffff;
  border-style: none;
  outline: none;
  margin: 20px 0 0 0;
  padding: 0 10px 0 10px;
  font-family: Arial;
  color: #445162;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 100%;
  min-height: 40px;
}

.contacts-form_text {
  border-radius: 5px;
  background-color: #ffffff;
  border-style: none;
  outline: none;
  margin: 20px 0 0 0;
  padding: 0 10px 0 10px;
  font-family: Arial;
  color: #445162;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 10px;
  width: 100%;
  min-height: 170px;
}

.contacts-form_btn {
  border-radius: 5px;
  background-color: #ffffff;
  border-style: none;
  outline: none;
  width: 100%;
  max-width: 140px;
  height: 40px;
  margin: auto;
  margin: 20px 0 0 0;
  padding: 0 10px 0 10px;
  text-transform: uppercase;
  font-family: Arial;
  color: #445162;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}

.contacts-form_btn:hover {
  background-color: #445162;
  color: #fff;
  border: 3px solid #fff;
}

.contacts-form_btn:active {
  background-color: #8797ab;
  color: #fff;
  border: 3px solid #fff;
}

.contacts-lists {
  padding: 0;
  margin: 0;
  color: #ffffff;
  max-width: 410px;
  width: 100%;
}

.contacts-lists_texts {
  margin: 0;
  padding: 22px 0 12px 0;
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  list-style-type: none;
}

.contacts-lists_texts_item {
  padding: 0 0 14px 0;
}

.contacts-lists_texts_item_icon {
  font-size: 26px;
  line-height: 26px;
  font-weight: 400;
}

.contacts-lists_social {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.contacts-lists_social_item {
  width: 40px;
  height: 40px;
  margin: 0 10px 10px 0;
}

.contacts-lists_social_item a {
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  background-color: #fff;
  color: #445162;
  border-radius: 50%;
  font-size: 20px;
  display: block;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
}

.contacts-lists_social_item a:hover {
  background-color: #445162;
  color: #fff;
  border: 2px solid #fff;
}

.contacts-lists_social_item a:active {
  background-color: #8797ab;
  color: #fff;
  border: 2px solid #fff;
}

/* footer */
.copyright {
  display: block;
  font-family: Arial;
  color: #445162;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.3px;
  line-height: 24px;
  text-align: center;
  background-color: #f5f5f5;
}

/*# sourceMappingURL=style.css.map */