/* product */

@import 'common-settings';

.product {
    min-width: 33%;
    max-width: 100%;
    background-color: #445162;
    @include section-settings;

    @media all and (max-width: 1100px) {
        & {
            justify-content: center;
        }
    }

    &-desc {
        margin: 0;
    }

    &-image {
        background-color: #ffffff;
        max-width: 100%;
        width: 469px;
        height: 214px;
        margin: 0;
    }

    &-name {
        font-family: Arial;
        color: #ffffff;
        font-size: 60px;
        font-weight: 400;
        text-transform: capitalize;
    }

    &-solutions {
        font-family: Arial;
        color: #ffffff;
        font-size: 20px;
        font-weight: 400;
        line-height: 36px;
        list-style-type: none;
        padding: 0px;
        margin: 30px 0 0 30px;

        &_item {
            position: relative;

            &::before {
                content: "";
                background-image: url(/img/check-icon.png);
                background-size: cover;
                width: 25px;
                height: 20px;
                display: block;
                position: absolute;
                top: 7px;
                left: -30px;
            }
        }
    }
}



// .product {
//     min-width: 33%;
//     max-width: 100%;
//     background-color: #445162;
//     @include section-setting;
//     // padding: 50px;
//     // display: flex;
//     // flex-wrap: wrap;
//     // justify-content: space-between;
// }

// @media all and (max-width: 1100px) {
//     .product {
//         justify-content: center;
//     }
// }

// .product-desc {
//     margin: 0;
// }

// .product-image {
//     background-color: #ffffff;
//     max-width: 100%;
//     width: 469px;
//     height: 214px;
//     margin: 0;
// }

// .product-name {
//     font-family: Arial;
//     color: #ffffff;
//     font-size: 60px;
//     font-weight: 400;
//     text-transform: capitalize;
// }

// .product-solutions {
//     font-family: Arial;
//     color: #ffffff;
//     font-size: 20px;
//     font-weight: 400;
//     line-height: 36px;
//     list-style-type: none;
//     padding: 0px;
//     margin: 30px 0 0 30px;
// }

// .product-solutions_item {
//     position: relative;
// }

// .product-solutions_item::before {
//     content: "";
//     background-image: url(/img/check-icon.png);
//     background-size: cover;
//     width: 25px;
//     height: 20px;
//     display: block;
//     position: absolute;
//     top: 7px;
//     left: -30px;

// }